<% if action == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>

<form action="<%= action_url %>" method="post">

  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="name">Name:</label>
  <input id="name" type="text", name="cat[name]", value="<%= cat.name %>">
  <br>

  <label for="sex">Sex: </label>
  <input id="male_button" type="radio", name="cat[sex]", value="M" <%= "checked" if cat.sex == 'M' %> >
  <label for="male_button">M</label>
  <input id="female_button" type="radio", name="cat[sex]", value="F" <%= "checked" if cat.sex == 'F' %> >
  <label for="female_button">F</label>
  <br>

  <label for="color">Color:</label>

  <select name="cat[color]" id="color">
    <option disabled <%= cat.color ? "" : "selected" %>>--select color--</option>
    <% Cat.colors.each do |color| %>
      <option value="<%= color %>" <%= "selected" if cat.color == color %> >
        <%= color %>
      </option>
    <% end %>
  </select>
  <br>

  <label for="birth_date">Birthday:</label>
  <input id="birth_date" type="date", name="cat[birth_date]", value="<%= cat.birth_date %>">
  <br>

  <label for="description">Description:</label>
  <br>
  <textarea name="cat[description]" id="description" placeholder="Type description here">
    <%= cat.description %>
  </textarea>
  <br>


  <input type="submit" value="<%= action == :edit ? 'Update cat' : 'Add new cat' %>">
</form>
