<h1><%= @cat.name %></h1>
<h3>owner: <%= @cat.owner ? @cat.owner.user_name : 'none' %></h3>
<table>
  <thead>
    <tr>
      <th colspan="2">Attributes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Color</td>
      <td><%= @cat.color %></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><%= @cat.age %></td>
    </tr>
    <tr>
      <td>Sex</td>
      <td><%= @cat.sex %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody> 
</table>
<br>

<% is_cat_owner = current_user && current_user.owns_cat?(@cat) %>

<table>
  <thead>
    <tr>
      <th colspan="2">Rental Requests</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Requester</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Status</td>
    </tr>
    <% CatRentalRequest.where('cat_id = ?', @cat.id).order('start_date ASC').each do |request| %>
      <tr>
        <td><%= request.requester ? request.requester.user_name : nil %></td>
        <td><%= request.start_date %></td>
        <td><%= request.end_date %></td>
        <td><%= request.status %></td>
        <% if request.status == "PENDING" && is_cat_owner %>
          <form action="<%= approve_catrentalrequest_url(request) %>" method="post">
            <td><button type="submit" value="approve">approve</button></td>
          </form>
          <form action="<%= deny_catrentalrequest_url(request) %>" method="post">
            <td><button type="submit" value="deny">deny</button></td>
          </form>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>